#showAllCombinations {
    cursor: pointer;
}

#editBpk {
    cursor: pointer;
    font-size: 1.2em;
}

#bpkInputField {
    width: 90%;
}

.inline-inputfield {
    width: auto;
    display: inline;
}

#confirmBpkEdit {
    cursor: pointer;
    font-size: 1.4em;
}

details {
    padding: 0.5em 0.5em 0;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    cursor: pointer;
    display: list-item;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}
