.panel-heading {
    padding: 3px 8px
}

.panel-body {
    padding: 8px;
}

@media (min-width: 1200px) {
    .first-row div.panel {
        height: 128px;
    }
    .second-row div.panel {
        height: 108px;
    }
}

@media (min-width: 1200px) and (max-width: 1269px) {
    .second-row div.panel {
        height: 128px;
    }
}

.menucolumn {
    padding-right: 0;
}

label.form-hint {
    text-align: left !important;
}

.prefill-input-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

ul.dvuhMenu { /** vertically centered **/
  /*  margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
}

#scrollToTop {
    display: none;
    position: fixed;
    bottom: 2%;
    right: 4%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #dfdfdf;
    color: black;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 14px;
}

#scrollToTop:hover {
    background-color: lightgrey;
}
